@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */ 

:root {
  --font-kavoon: "Kavoon", cursive;
}

body {
  font-family: var(--font-kavoon);
}

.glow-text {
  text-shadow: 0 0 40px rgba(255, 255, 0, 0.977), 
               0 0 20px rgba(255, 0, 0, 0.9), 
               0 0 40px rgba(255, 230, 0, 0.959);
}
